.skillSection {
  background-color: #393e46;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #eeeeee;
}

.card {
  margin: 0.5rem;
}

.row {
  margin-left: 2rem;
  margin-right: 2rem;
}

.card-body {
  color: gray;
}
